<!DOCTYPE html>
<html>
  <head>
    <title>Add Menu Items</title>
  </head>
  <body>
    <h1>Add a New Menu Item</h1>
    <form>
      <h2>Name</h2>
      <section class="boxEditName">
          <input type=text name="newMenuItemName" required placeholder="Pizza"/>
      </section>
      <h2>Price</h2>
      <section class="boxEditPrice">
          <input type=text name="newMenuItemPrice" required placeholder="$3.99"/>
      </section>
      <h2>Description</h2>
      <section class="boxEditDescription">
          <input type=text name="newMenuItemDescription" required placeholder="Cheese, Pep.." size=50/>
      </section>
      <input type="submit" value="Create"/>
    </form>
    <a href=""><span>back</span></a>

  </body>
</html>
