<!DOCTYPE html>
<html>
  <head>
    <title>Edit Menu Items</title>
  </head>
  <body>
    <h1>Edit {{item.name}}</h1>
    <form action="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id) }}" method="post">
      <section class="boxEditName">
        <h2>Name</h2>
        <input type="text" name="newMenuItemName" placeholder="{{item.name}}"/>
      </section>

      <section class="boxEditPrice">
        <h2>Price</h2>
        <input type="text" name="newMenuItemPrice" placeholder="{{item.price}}"/>
      </section>

      <section class="boxEditDescrition">
        <h2>Description</h2>
        <input type="text" name="newMenuItemDescription" placeholder="new description"/>
      </section>
      <input type="submit" value="edit"/>
    </form>
    <a href="{{url_for('displayMenu', restaurant_id=restaurant.id)}}"><span>back</span></a>
  </body>
</html>
