<!DOCTYPE html>
<html>
  <head>
    <title>Edit Menu Items</title>
  </head>
  <body>
    <h1>Edit Menu Items</h1>

    <section class="boxEditName">
      <h2>Name</h2>
      <input type="text" name="newMenuItemName" placeholder="old menu item name"/>
      <input type="submit" value="edit"/>
    </section>

    <section class="boxEditPrice">
      <h2>Price</h2>
      <input type="text" name="newMenuItemPrice" placeholder="old price"/>
      <input type="submit" value="edit"/>
    </section>

    <section class="boxEditDescrition">
      <h2>Description</h2>
      <input type="text" name="newMenuItemDescription" placeholder="old descrip..."/>
      <input type="submit" value="edit"/>
    </section>
    <a href=""><span>back</span></a>
  </body>
</html>
