<!DOCTYPE html>
<html>
  <head>
    <title>Menu Items</title>
  </head>
  <body>
    <h1>{{ restaurant.name }}</h1>
    <ul>
      {% for i in items %}
      <li>
        <h2>{{ i.name }}</h2>
        <p> {{ i.price }} </p>
        <p> {{ i.description }}</p>
        <a href=""><span>edit</span></a>
        <a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=i.id) }}"><span>delete</span></a>
      </li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('displayRestaurants') }}"><h3>All Restaurants</h3></a>
  </body>
</html>
